<!DOCTYPE html>
<html>
<head>
<title>Nara Chatbot</title>
<style>
body {
  margin:0;
  font-family: 'Segoe UI';
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background: linear-gradient(135deg, #c7d2fe, #fbcfe8);
  text-align:center;
}

button {
  padding:15px 30px;
  border:none;
  border-radius:20px;
  background: linear-gradient(135deg, #8b5cf6, #ec4899);
  color:white;
  font-size:16px;
  cursor:pointer;
}
</style>
</head>

<body>

<div>
  <h1>Meet your Nara 🤖</h1>
  <p></p>
  <button onclick="startChat()">Let’s get started</button>
</div>

<script>
function startChat(){
  window.location.href = "/chat";
}
</script>

</body>
</html>